div {background-color: rgb(221, 176, 117);}
div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #569bb6;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: rgb(130, 224, 130); 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: rgb(130, 224, 130);}